pokefirered.gba
"Cool Blue.gba"
*.sav
*.elf
*.ss1
/build/
*.ss2
*.ss3
*.ss4
*.ss5
*.ss6
*.ss7
*.ss8
*.ss9
*.ss10
*.ss11
*.sa1
*.sa2
*.sa3
*.sa4
*.sa5
*.sa6
*.sa7
*.sa8
*.sa9
*.sa10
*.gba
*.gbapal
porymap.project.cfg
porymap.project.cfg
porymap
